.navbar-inverse {
    background-color: #18b2a9;
    border: none;
    line-height: 50px;
}

.navbar-inverse .navbar-brand {
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 2px;
}