@{
    ViewBag.Title = "Index";
}

@Styles.Render("~/Content/Css/Views/Home")

<div class="cover-container">
    <div class="container">
        <h2><span>Offerend allows you to easily find business partners to</span></h2>
        <h2><span>share your physical office with</span></h2>
    </div>
</div>