
@{
    ViewBag.Title = "Index";
}
<link href="~/Content/Css/Views/Home/home.css" rel="stylesheet" />

<div class="cover-container">
    <div class="container">
        <h2>Offerend allows you to easily find business partners to share your physical office with</h2>
    </div>
</div>