body {
    overflow: hidden;
}

.cover-container {
    background: url('/Content/images/cover-background.jpg') no-repeat center center fixed;
    background-size: cover;
    text-align: center;
    height: 100vh;
}

.cover-container .container h2 {
    font-size: 45px;
    color: #fff;
    margin-top: 75px;
}